<a href="https://colab.research.google.com/github/nithu2109/DataScience_Ml/blob/main/Pandas/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

**Making Series From Lists**

In [ ]:
myindex=['USA','Canada','Mexico']
mydata=[1776,1867,1984]

In [ ]:
myser=pd.Series(data=mydata,index=myindex)

In [ ]:
myser

USA       1776
Canada    1867
Mexico    1984
dtype: int64

In [ ]:
type(myser)

pandas.core.series.Series

In [ ]:
myser[0]

1776

In [ ]:
myser['USA']

1776

**Making Series From Dictionaries**

**Ex1**

In [ ]:
ages={'Sam':5,'Frank':10,'Spike':7}

In [ ]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

**Exercise**

In [ ]:
expenses = pd.Series({'Andrew':200,'Bob':150,'Claire':450})

In [ ]:
expenses[1]

150

**Ex2**

In [ ]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [ ]:
sales_q1=pd.Series(q1)
sales_q2=pd.Series(q2)

In [ ]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [ ]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [ ]:
sales_q1['Japan']#sales_q1[0]

80

In [ ]:
#for viewing all the keys in dictionary
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [ ]:
#This Multiplies each item in list by 2
[1,2]*2

[1, 2, 1, 2]

In [ ]:
#if the list is in nupmy the elements are broadcasted 
np.array([1,2])*2

array([2, 4])

In [ ]:
#for pandas series also these are broadcasted if multiplied 
sales_q1 *2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [ ]:
sales_q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [ ]:
#Pandas informs you of mismatch with NaN
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [ ]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [ ]:
sales_q1+sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [ ]:
#we can fill these NaN values
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [ ]:
sales_q1.dtype

dtype('int64')